/library/*
/Library/*
/Obj/*
/obj/*
/Build/*
/build/*
/Logs/*
/logs/*
/UserSettings/*
/usersettings/*
/Temp/*
/temp/*
Library/ArtifactDB
Library/Artifacts/09/09cf04411884a46e643af742fc634c78
Library/Artifacts/76/76eac59043fed7e291a394dd61476310
Library/Artifacts/80/801646e01dc2d427da00b4343e6d2b05
Library/Artifacts/ae/aee83729dbf785212c79607c46f349a2
Library/Bee/1900b0aEDbg-inputdata.json
Library/Bee/1900b0aEDbg.dag
Library/Bee/1900b0aEDbg.dag.json
Library/Bee/1900b0aEDbg.dag.payloads
Library/Bee/1900b0aEDbg.dag_derived
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.dll
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.ref.dll
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.rsp
Library/Bee/artifacts/1900b0aEDbg.dag/post-processed/Assembly-CSharp.dll
Library/Bee/artifacts/1900b0aEDbg.dag/post-processed/Assembly-CSharp.pdb
Library/Bee/backend1.traceevents
Library/Bee/backend2.traceevents
Library/Bee/buildprogram0.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/BurstCache/JIT/BurstCacheManifest.cm
Library/BurstCache/JIT/Hashes/07e4275e93bdfafb968c284023fc9820.bhc
Library/BurstCache/JIT/Hashes/0bbc16e64e118ef7240c57f9f6c0578e.bhc
Library/BurstCache/JIT/Hashes/0ccec1f58febc9bc1d3f969de381d037.bhc
Library/BurstCache/JIT/Hashes/0fb0ceb263209656b8ea977b7b059a49.bhc
Library/BurstCache/JIT/Hashes/10fcbea22543c5442693fd8a7d25c17e.bhc
Library/BurstCache/JIT/Hashes/11ce385ef2ad07f7710380c5130b3691.bhc
Library/BurstCache/JIT/Hashes/153a7fc2c89a5cfcc520a9ea2cb729d4.bhc
Library/BurstCache/JIT/Hashes/18fa6933645151a17239f4542b29a793.bhc
Library/BurstCache/JIT/Hashes/1b32dd62c44741036c1a7c4dfd861a5f.bhc
Library/BurstCache/JIT/Hashes/1cca87f842d313a71ecf513afd6faf79.bhc
Library/BurstCache/JIT/Hashes/310b72de717d9b4b95e00f776461f6e0.bhc
Library/BurstCache/JIT/Hashes/3aa7767756913884e27019266e846ff5.bhc
Library/BurstCache/JIT/Hashes/3dc5897da031517a8d5ab0e81f722310.bhc
Library/BurstCache/JIT/Hashes/408cd4a290c7c13b57d05638f468e037.bhc
Library/BurstCache/JIT/Hashes/4258b758518b3e2b3020cff3a9542d05.bhc
Library/BurstCache/JIT/Hashes/42fb5e00e5ed806e79050c5cb1ed6a88.bhc
Library/BurstCache/JIT/Hashes/4a11bc8a23c1cfa0f4923becd8b6a98b.bhc
Library/BurstCache/JIT/Hashes/4cd2067a9c7035b9e3fe2ec28d0b2ace.bhc
Library/BurstCache/JIT/Hashes/4eaed8e030c246f2557ec486e9b74a33.bhc
Library/BurstCache/JIT/Hashes/53a447354fede0803cf639cd158afe68.bhc
Library/BurstCache/JIT/Hashes/5ed5015b734bdfe5c2aa268fb2708b8c.bhc
Library/BurstCache/JIT/Hashes/6456d937994de7c720ef487bb1bf66e8.bhc
Library/BurstCache/JIT/Hashes/6bacc24f8fbd0569ff1b62fefb1417dc.bhc
Library/BurstCache/JIT/Hashes/70eb39d339ec82225226c785818905c8.bhc
Library/BurstCache/JIT/Hashes/7137a5c6727cd39587d613225befd2da.bhc
Library/BurstCache/JIT/Hashes/73bd93db7a0ee5bdbe167a19b44ce084.bhc
Library/BurstCache/JIT/Hashes/82498bc5c17bc5a48f5a2dea1fb2b9e9.bhc
Library/BurstCache/JIT/Hashes/8262a0c5a737acb51f187b979f8f1cdb.bhc
Library/BurstCache/JIT/Hashes/863b94390255051efa675ad42b819026.bhc
Library/BurstCache/JIT/Hashes/875b3e2512e379b43c399e9524a28999.bhc
Library/BurstCache/JIT/Hashes/884aca2c643c62d26e43bae87904707e.bhc
Library/BurstCache/JIT/Hashes/88f24d168e99e02023014456a6f41c1b.bhc
Library/BurstCache/JIT/Hashes/8bd375117381c8f40ed1fc10f10e1697.bhc
Library/BurstCache/JIT/Hashes/93b34e3e57ed63d7141cff3daca95296.bhc
Library/BurstCache/JIT/Hashes/9abcd854fd63ed8e9eceb5239fe39d47.bhc
Library/BurstCache/JIT/Hashes/9c53d1adad94ad02b3f2930c4ac7f801.bhc
Library/BurstCache/JIT/Hashes/a110ffe6b760e4b56cb86ae44bc7857d.bhc
Library/BurstCache/JIT/Hashes/b18848a788ca5347ce18210a703f2d41.bhc
Library/BurstCache/JIT/Hashes/be670e090ff3e42fb24aaadc6942ac7a.bhc
Library/BurstCache/JIT/Hashes/beb497e134b24e0d443f6a91ee099283.bhc
Library/BurstCache/JIT/Hashes/beceab8afacc46b55a2754c784654711.bhc
Library/BurstCache/JIT/Hashes/befdae3f37b3d00eeab79e36cdae5994.bhc
Library/BurstCache/JIT/Hashes/c18595ec66b5d2d8a90beeeeae8aef29.bhc
Library/BurstCache/JIT/Hashes/c2a23f44a5662aa84e9ce05a03a5c697.bhc
Library/BurstCache/JIT/Hashes/c6749f40e05781087eb92649725e2f6f.bhc
Library/BurstCache/JIT/Hashes/c86ed7598bd91057bc1f5b7c62af9475.bhc
Library/BurstCache/JIT/Hashes/d8063d0c2ebb142d8be0526aa6bfe83c.bhc
Library/BurstCache/JIT/Hashes/e280f7a2a7bd4e990528db890a95b139.bhc
Library/BurstCache/JIT/Hashes/e331c7b1fa5090f90a7bd7c89ae8bb33.bhc
Library/BurstCache/JIT/Hashes/e7fceaab916b3ed638ca31b812ac05a1.bhc
Library/BurstCache/JIT/Hashes/e81f7d00c5ff9ada70bf1defd0993a6f.bhc
Library/BurstCache/JIT/Hashes/eb5762c176c563408800b67be30a9bca.bhc
Library/EditorInstance.json
Library/expandedItems
Library/ilpp.pid
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/Search/transactions.db
Library/SourceAssetDB
Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
UserSettings/Layouts/default-2022.dwlt
